div
  ul
    li
      img(src='https://www.taxumo.com/wp-content/uploads/2018/02/logo_for_aqua_bg.png', style='width: 50% ; height:50%; padding-left: 20px; margin: 15px')
form
  .col
    label(for='grossAmount') Gross Amount
    input.form-control(type='text', (input)='saveGross($event)')
  .col
    label(for='date') Date Paid
    input.form-control(type='text', placeholder='mm/dd/yyyy', (input)='saveDate($event)')
  .col
    label(for='orsi') OR/SI Number
    small#emailHelp.form-text.text-muted Optional
    input.form-control(type='text', (input)='saveORSINo($event)')
  .col
    label(for='category') Category
    input.form-control(type='text', (input)='saveCategory($event)')
  .col
    label(for='bName') Business Name
    small#emailHelp.form-text.text-muted Optional
    input.form-control(type='text', (input)='saveBName($event)')
  .col
    label(for='notes') Notes
    small#emailHelp.form-text.text-muted Optional
    input.form-control(type='text', (input)='saveNotes($event)')
  .col
    label(for='notes') Upload Receipt
    small#emailHelp.form-text.text-muted Optional
    input(type='file', (change)='readURL($event);')
    img#blah([src]='imageSrc', alt='')
  a.square_btn(href='#')
    i.fa.fa-chevron-right((click)='verifyUser()')
    |  Verify
